h1 {
  color:white;
  border: 0px;
  padding:0;
  margin-top:1;
  border-collapse: collapse;
}


body {
  font-family: 'Bubbler One', sans-serif;
	line-height: .5;
	color: black;
  background: black;
  background-attachment: fixed;
	margin: 0;
	padding: 0;
}
