body{
  background-color: gray;
}
header {
  background-color: blue;
  color:white;
  text-align: center;
}
body {
  background: black;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  color:white;
}
